// Write your styles here
body {
  background-color: $contentBackground;
  width: 100%;
  height: auto;

  margin: 0;
}

.landing-logo {
  display: flex;
  align-items: center;

  p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: $font2;
    font-weight: 600;
    color: $logoColor;
    line-height: 20px;

    span {
      text-align: center;
      font-weight: 100;
    }
  }
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  background-image: $bgImgHeader;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  border-radius: 0 0 400px 0;
  z-index: 900;

  .header-wrap {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    padding-bottom: 200px;
  }

  &_heading {
    font-size: 50px;
    font-family: $font1;
    font-weight: 800;
    width: 100%;
    max-width: 400px;
    color: $headerTitleColor;

    &:after {
      content: '';
      background-color: $headerAfterColor;
      width: 210px;
      height: auto;
      min-height: 15px;
      position: relative;
      left: 0;
      z-index: -1;
      top: -23px;
      display: block;
    }
  }

  &_text {
    width: 100%;
    max-width: 510px;
    margin-bottom: 60px;
    font-family: $font2;
    color: $headerTextColor;
  }

  &_button {
    background-color: $btnHeaderColor;
    width: 130px;
    height: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 16px;
    font-family: $font1;
    color: #fff;

    &:hover {
      background-color: $hoverBtn;
      transition: all .3s ease-in-out;
    }
  }
}

.section {
  width: 100%;
  height: auto;
  position: relative;

  &_text {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    font-family: "Hind", sans-serif;
    font-size: 40px;
    color: $sectionTextColor;
    z-index: 200;
    font-weight: 400;
    display: table;
    margin: 0 auto;

    &::after {
      content: '';
      background-color: $welcomeAfterColor;
      width: 178px;
      height: auto;
      min-height: 11px;
      position: absolute;
      right: 2%;
      z-index: -1;
      bottom: 31%;
    }
  }

  &_card_wrap {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &_card {
    background-color: $welcomeItembg;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    flex-direction: column;
    padding: 15px;
    position: relative;

    &_img {
      width: 100%;
      height: auto;
      min-height: 225px;
    }

    &_heading {
      text-align: center;
      color: #fff;
      font-family: $font1;
      font-weight: 600;
      position: relative;
      z-index: 100;
      flex-direction: column;
      margin: 0 auto;
      display: table;
      width: auto;
      margin-top: 10px;
    }

    &_underline {
      background-color: $headingUnderlineColor;
      height: auto;
      min-height: 9px;
      position: relative;
      display: table;
      z-index: -2;
      top: -9px;
      width: 100%;
    }

    &_text {
      color: #fff;
      font-family: $font2;
      text-align: center;
    }
  }

  &_banner {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &_text_wrap {
      display: block;
      width: 100%;
      max-width: 800px;
      border-radius: 5px;
      background: $readyBackgroundColor;

      p {
        width: 100%;
        max-width: 500px;
        position: relative;
      }
    }
  }
}