$contentBackground: #21232E;
$headerTitleColor:#fff;
$headerTextColor:#fff;
$btnHeaderColor:#E3AC00;
$hoverBtn:#942F50;
$welcometitleColor:#fff;
$welcomeItembg:#3B3F50;
$headerAfterColor:#FF4E33;
$logoColor:#fff;
$welcomeAfterColor:#FF4E33;
$sectionTextColor:#fff;
$headingUnderlineColor:#FF4E33;
$readyBackgroundColor:linear-gradient(to right,#D89B0A, #922B53);

$font1:'Source Sans Pro', sans-serif;
$font2:'Fresca', sans-serif;
$font3:'Hind', sans-serif;

$bgImgHeader:url("../img/m-h-night.jpg");